<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" th:href="@{/css/nav.css}" />
    <link rel="stylesheet" th:href="@{/css/forgotpassword.css}" />
    <link rel="stylesheet" th:href="@{/css/global.css}" />

    <title>Forgot Password</title>
  </head>
  <body>
    <div th:replace="fragments/navigation :: nav"></div>

    <div class="hero">
      <div class="hero-content">
        <h1>Forgot Your Password?</h1>
        <p>Don't worry, we've got you covered.</p>
      </div>
      <div class="hero-graphics">
        <div class="circle"></div>
        <div class="square"></div>
        <div class="triangle"></div>
      </div>
    </div>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card forgot-password-card animate-fade-in">
            <div class="card-body">
              <h2 class="card-title text-center">Forgot Password</h2>
              <form
                action="/RiddleRealm/forgotpassword"
                method="post"
                class="mt-4"
              >
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="fas fa-envelope"></i
                      ></span>
                    </div>
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Email"
                      required
                    />
                  </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">
                  Submit
                </button>
              </form>
              <div class="text-center mt-3">
                <a href="/RiddleRealm/register">Go to Register</a> |
                <a href="/RiddleRealm/login">Go to Login</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.10/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>

  <div th:replace="fragments/footer :: footer"></div>
</html>
